<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.otsmaindesign"
    tools:ignore="GoogleAppIndexingWarning">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".Paytm_payment"
            android:exported="true" />
        <activity
            android:name=".Reports"
            android:exported="true" />
        <activity
            android:name=".CartItemPayment"
            android:exported="true" />
        <activity
            android:name=".MerchantFoodInfo"
            android:exported="true" />
        <activity
            android:name=".FoodInfo"
            android:exported="true" />
        <activity
            android:name=".AddFoodDetails"
            android:exported="true" />
        <activity
            android:name=".RestorentDetails"
            android:exported="true" />
        <activity
            android:name=".AddShopDetails"
            android:exported="true" />
        <activity
            android:name=".ViewAllDetails"
            android:exported="true" />
        <activity
            android:name=".AdminSide"
            android:exported="true" />
        <activity
            android:name=".AccountMerchant"
            android:exported="true"
            android:label="Account" />
        <activity
            android:name=".LoginMerchant"
            android:exported="true"
            android:label="Merchant"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LoginUser"
            android:exported="true"
            android:label="Online Tiffin Service" />
        <activity
            android:name=".SignUpActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>